<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="identityDb" connectionString="Data Source=193.124.67.40;Initial Catalog=identityDb;User ID=su;Password=306418" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="identityDbEntities" connectionString="metadata=res://*/IdentityModel.IdentityModel.csdl|res://*/IdentityModel.IdentityModel.ssdl|res://*/IdentityModel.IdentityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=193.124.67.40;initial catalog=identityDb;user id=su;password=306418;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <!--<add name="bbomDb2"
     connectionString="Data Source=193.124.67.40;Initial Catalog=bbomDb2;User ID=cos2;Password=123qwe"
     providerName="System.Data.SqlClient"
     xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="bbomDbEntities"
         connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=193.124.67.40;initial catalog=bbomDb2;user id=cos2;password=123qwe;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Solomon24Domain" value="http://bbom.solomon24.com/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="SolomonElcoinDomain" value="http://coin.solomon24.com/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>