<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>testRealese</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ssotest.solomon24.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://solomon24.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ssotest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentitySolomon.AspId.Context" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IdentitySolomon.AspId.Context, IdentitySolomon" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="identityDb" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BIOHAZARD\BIOHAZARD;Initial Catalog=identityDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\identityDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=BIOHAZARD\BIOHAZARD;Initial Catalog=identityDb;integrated security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="identityDbEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bbom.Data.IdentityModel.identityDbEntities, bbom.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="bbom.Data.ContentModel.ContentDbEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bbom.Data.ContentModel.ContentDbEntities, bbom.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bbom.Admin.Core.Identity.ApplicationDbContext, bbom.Admin.Core" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bbom.Data.ContentModel.ContentDbEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)identityDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)identityDbEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentitySolomon.AspId.Context-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="bbom.Data.ContentModel.ContentDbEntities" />
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="IdentitySolomon.AspId.Context" />
  </ItemGroup>
</Project>