################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Admin/bbom.Admin/obj/Debug
/Admin/bbom.Admin.Core/obj/Debug
/Admin/bbom.Admin.Test/obj/Debug
/Admin/elcoin.Admin/obj/Debug
/Data/bbom.Data/obj/Debug
/IdentityServer/obj/Debug
/Solomon.Core.Test/obj/Debug
