@using bbom.Admin.Core.Notifications
@using bbom.Data.ModelPartials
@using bbom.Data.ModelPartials.Constants
@{
    ViewBag.Title = "Мероприятия";
}
<style>
    .result span {
        /*padding: 22px 12px 15px;*/
        display: inline-block;
        /*margin: 0 8px 0 -5px;*/
        font-size: 20px;
        border-radius: 3px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/AdminLTE.min.css" />
<div class="tab-pane active" id="timeline" style="padding: 40px;">
    <!-- The timeline -->
    <ul id="timeLineBody" class="timeline timeline-header">
        <!-- timeline time label -->
        <li class="time-label">
            <span class="bg-online">
                <h2 class="text-online">Расписание</h2>
            </span>
        </li>
    </ul>
</div>
@section Scripts
{
    <script src="../../Scripts/Views/Timer.js"></script>
    <script id="eventTmpl" type="text/x-jquery-tmpl">
        <li>
            <img src="${icon}" class="fa fa-envelope" style="width: 100px;left: 45px;top: -18px;">
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i>${start}</span>
                <h3 class="timeline-header">
                    <a href="">${title}</a> <label id="isRun${name}" style="color: red; visibility: hidden;">Идет сейчас</label>
                </h3>
                <div class="timeline-body">
                    ${description}
                </div>                
                <p id="startDatePlace${name}" class="result" style="float: right; margin-right: 10px">
                    Начало через:
                    <span id="Nhour${name}"></span><span>:</span>
                    <span id="Nmin${name}"></span><span>:</span>
                    <span id="Nsec${name}"></span>
                </p>
                <div class="timeline-footer">
                    <span>Спикеры:</span> <i>${spiker}</i>
                    <Br /> <Br /> <a href="@(Url.Action("Index", "Events") + "/Index/")${name}" class="btn btn-danger btn-xs" style="background: ${buttonColor}; border: 0;">Войти в вебинарную комнату!</a>
                </div>
            </div>
        </li>
    </script>
    <script type="text/javascript">
        $(function() {
            //todo первести на typescript для использования в нескольких местах
            if (window.userIsRole('@UserRole.NotWatch')) {
                var notify = {};
                notify.message = "Уважаемые гости!\nУведомляем вас о том, что комната для проведения мероприятия Деловая встреча, откроется за 10 минут до начала. При этом кнопка Войти станет синей и это означает, что вы можете свободно зайти на мероприятие;\nОбращаем ваше внимание, что комната закроется для входа через 5 минут после начала вещания и в случае опоздания вам придется дождаться следующего мероприятия;";
                notify.type = "@AlertStyles.Information";
                window.notify(notify);
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEventsJson", "Events")" + "?typeId=@ViewBag.TyeId",
                success: function(json) {
                    for (var i = 0; i < json.length; i++) {
                        $('#eventTmpl').tmpl(json[i]).appendTo('#timeLineBody');
                        var startDate = new Date(json[i].start);
                        var startDatePlace = $("#startDatePlace" + json[i].name);
                        var nowDate = new Date();
                        if (startDate > nowDate) {
                            $("#isRun" + json[i].name).css("visibility", "hidden");
                            var timer = new Timer($("#Nhour" + json[i].name), $("#Nmin" + json[i].name), $("#Nsec" + json[i].name));
                            timer.start(json[i].start);
                        } else {
                            $("#isRun" + json[i].name).css("visibility", "visible");
                            startDatePlace.css("visibility", "hidden");
                        }
                        if (json[i].isShowDate) {
                            startDatePlace.css("visibility", "visible");
                        } else {
                            startDatePlace.css("visibility", "hidden");
                        }
                    }
                }
            });
        });
    </script>

}
