<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования Web.config см. по адресу: http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=BIOHAZARD\BIOHAZARD;Initial Catalog=bbomDb2;integrated security=True" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="bbomDbEntities" 
         connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;
         data source=BIOHAZARD\BIOHAZARD;initial catalog=bbomDb2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
