<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход в Solomon</title>
    <link rel="stylesheet" href="{applicationPath}/assets/styles.min.css">
    <link rel="icon" type="image/x-icon" href="{applicationPath}/assets/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="{applicationPath}/assets/favicon.ico" />
    <style>
        .icon-banner{
            position:relative;
            top:-2px;
        }
        .icon{
            position:relative;
            top:-10px;
        }
    </style>
</head>
<body lang="en">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="{applicationPath}">
                <span class="navbar-brand">
                    <img src="{applicationPath}/assets/icon.png" class="icon-banner">
                    Solomon
                </span>
            </a>
        </div>
    </div>

    <div class="welcome-page container">
        <div class="row page-header">
            <div class="col-sm-10">
                <h1>
                    <img class="icon" src="{applicationPath}/assets/icon.jpg">
                    Добро пожаловать в Solomon
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>
                    <a href="{applicationPath}/permissions">Приложения</a>
                    с которых вы выполнили вход.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
